:root {
    --margin: 0px 50px;
    --h1-color: #0D1321;
    --h1-background-color: #AFE0CE;
    --font-family: 'Roboto', serif;
    --h2-color: #0D1321;
    --max-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 ,h3 {
    font-family: 'Roboto', serif;
}

/*color link https://coolors.co/0d1321-ffeddf-c5d86d-86615c-afe0ce 
#0D1321 Rich black 
#FFEDDF Linen 
#86615C Rose taupe
#AFE0CE Tiffany Blue 
*/

/* is Logo/top links*/

body {
    font-family: var(--font-family); 
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
    max-width: var(--max-width);
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 60px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.navigation a {
	display: block;
	color: #0D1321;
    padding: 3px 5px;
	text-decoration: none;
    border: 1px solid #0D1321;
    background-color: #AFE0CE;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 50px;
	height: auto;
}

main {
	font-family: var(--font-family);
}

.hero {
    height: auto;
	position: relative;
}

/* Background image */
.hero img {
    width: 100%;
	height: auto;
	display: block;
    border: 2px solid #0D1321;
    margin: 1rem auto;
	/* max-width: var(--max-width); */
} 

/* Company Title */
.hero h1 {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    background-color: var(--h1-background-color);
    opacity: 0.9;
    text-align: center;
	font-size: 3rem;
    color: var(--h1-color);
    transform: translate(-50%, -50%);
    margin: 1rem auto;
    /* max-width: var(--max-width);*/
} 

/* client */
.hero article img {
    width: 20%;
	height: auto;
    position: relative;
    float: right;
    margin: 1rem auto;
    max-width: var(--max-width);
}
.hero article {
	position: absolute;
	top: 30%;
    left: 30%;
	width: 45%;
	background: radial-gradient(#DEDEE0, #86615C);
	border: 1px solid #0D1321;
	padding: 0.65rem;
    opacity: .9;
    margin: 1rem auto;
    max-width: var(--max-width);
}

section {
	font-family: var(--font-family);
    max-width: var(--max-width);
    margin: 1rem auto;
}

.history_img {
    border: 2px solid rgb(0, 0, 0, 0.2);
}

.adventure_img {
    border: 2px solid rgb(0, 0, 0, 0.2);
}

h2 {
    color: var(--h2-color);
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}

.history_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--max-width);
    place-items: center;
    grid-gap: 1rem;
    margin: 1rem auto;
    padding: 1rem;
}

.title {
    grid-column: 1/4;
}

.adventure_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 1rem;
}

.figure img {
    padding: 1rem;   
    text-align: center;
    max-width: var(--max-width);
    margin: 1rem auto;
}

.adv_title {
    text-align: center;
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 1rem;
}

figcaption {
    text-align: center;
    padding: 1rem;
}

footer { 
	padding: 0.5rem;
    margin-top: 15px;
    border-top: var(--border) solid #0D1321;
    text-decoration: none;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	place-items: center;
    max-width: var(--max-width);
}
/* Contact layout */
.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
    width: 60%
}

.map h1 {
    grid-column: 1/4;
    color: var(--h2-color);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.contact {
    max-width: var(--max-width);
    margin: 1rem auto;
    
}

.contact section {
    padding: 1rem;
}

.employee {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.employee img {
    height: 150px;
}

.contact fieldset {
    display: block;
    border: 2px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    width: 400px;
    background-color: #AFE0CE;
    margin: 1rem auto;
}

.contact button {
    margin: 0.5rem;
    border: 1px;
    border-radius: 0.5rem;
    padding: .65rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #86615C;
}

/* Index Layout */

.index {
    margin: 1rem auto;
    width: 100%;
    text-align: center;
}

.learn {
    font-size: 1.5rem;
    font-weight: bold;
}

.rafting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

.index fieldset {
    display: block;
    border: 2px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    width: 200px;
    background-color: #AFE0CE;
    margin: 1rem auto;
}

.button {
    background-color: #AFE0CE;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #86615C;
  }

  .index_rafting_link {
    display: flex;
    justify-content: center;
  }

/* Trips */
.trips {
    max-width: var(--max-width);
    margin: 1rem auto;
}

.trips {
    text-align: center;  
}

.trips_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 1rem;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border:2px solid rgb(0, 0, 0)
}

.center {
    margin-left: auto;
    margin-right: auto;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
}

thead {
    background-color: #AFE0CE;
    color: #0D1321;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px 20px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: #86615C;
}

tbody>tr:nth-of-type(odd) {
    background-color: #FFEDDF;
}