:root {
    --margin: 0px 50px;
    --h1-color: #DEDEE0;
    --h1-background-color: #60AB9A;
}

* {
    margin: 0;
    padding: 0;
}

/*https://coolors.co/ff9fb2-fbdce2-0acdff-60ab9a-dedee0 color link 
#FF9FB2 Salmon Pink
#0ACDFF Vivid sky blue
#60AB9A Keppel
#DEDEE0 Platinum
*/

/* Nav is Logo/top links*/
/* nav a {
    
} */

main {
	font-family: Roboto, Arial, sans-serif;
}

.hero {
	width: 100%;
    height: auto;
	position: relative;
}

/* Background image */
.hero img {
    width: 100%;
	height: auto;
	display: block;
}

/* Company Title */
.hero h1 {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    text-align: center;
	font-size: 3rem;
    color: var(--h1-color);
    background-color: var(--h1-background-color);
    transform: translate(-50%, -50%);
}

.hero article img {
    width: 20%;
	height: auto;
    position: relative;
    float: right;

}
.hero article {
	position: absolute;
	top: 25%;
    left: 15%;
	width: 70%;
	background: radial-gradient(#DEDEE0, #0ACDFF);
	border: 1px solid #000;
	padding: 0.65rem;
}

section {
    max-width: 300px;
	font-family: Roboto, Arial, sans-serif;
}

/* client */
.articlediv {
    float: right;
    position: absolute;
    top: 0x
}

.articlediv img {
    position: relative;
    float: right;
    width: 200px;
    height: auto;
}



h2 {
    color: #FF9FB2;
}

main {
    max-width: px;
}

footer { 
    position: relative;
	bottom: 0;
	margin: 1rem;
	border-top: 1px solid #000;
	padding: 0.5rem;
    margin-top: 15px;
    border-top: var(--border) #000;
    text-align: left;
}