:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*https://coolors.co/ff9fb2-fbdce2-0acdff-60ab9a-dedee0 color link 
#FF9FB2 Salmon Pink
#0ACDFF Vivid sky blue
#60AB9A Keppel
#DEDEE0 Platinum
*/

h1 {
    color: #60AB9A;
    position: relative;
}

article {
    position: relative;
}

article img {
    float: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    color: #FF9FB2;
}

main {
    max-width: 840px;
}