:root {
    --color: steelblue;
    --border: 1px solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    display: block;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif
}

nav{
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff
}

h1 {
    color: var(--color);
    padding-bottom: 15px;
    }

hr.solid {
    border-top: 3px solid #000;
  }

aside h2 {
    position: absolute;
    top: 650px;
    left: 150px;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border) var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    display: block;
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

.box {
    margin: 1rem;
    border: var(--border) rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

aside img {
    width: 200px;
    height: auto;
}

.grid {
    display: grid;
    align-items: center;
}

footer {
    text-align: center;
}